<a href="https://colab.research.google.com/github/itsabdullah15/Basic-ML-Projects-/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("/content/sample_data/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [48]:
#Pclass Sex Age Fare
inputs = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns' ,inplace=True)
inputs

In [49]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [50]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [51]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [52]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [53]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [54]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [55]:
inputs.head(10)

   Pclass  Sex        Age     Fare
0       3    1  22.000000   7.2500
1       1    2  38.000000  71.2833
2       3    2  26.000000   7.9250
3       1    2  35.000000  53.1000
4       3    1  35.000000   8.0500
5       3    1  29.699118   8.4583
6       1    1  54.000000  51.8625
7       3    1   2.000000  21.0750
8       3    2  27.000000  11.1333
9       2    2  14.000000  30.0708

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [58]:
len(X_train)

712

In [59]:
len(X_test)

179

In [60]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [61]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [62]:
model.score(X_test,y_test)

0.8435754189944135